* {
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  padding: 40px;
}
.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}
h2, h3 {
  text-align: center;
  margin: 0;
}
h1 {
  text-align: center;
  margin: 10px 0;
}
.inc-exp {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 6px;
}
.inc-exp  div {
  width: 45%;
  text-align: center;
}
.money {
  font-size: 18px;
  margin-top: 5px;
}
.plus {
  color: green;
}
.minus {
  color: red;
}
.list {
  list-style-type: none;
  padding: 0;
  max-height: 120px;
  overflow-y: auto;
}
.list li {
  background-color: #f4f4f4;
  padding: 10px;
  margin: 8px 0;
  border-right: 5px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}
.list li.plus {
  border-color: green;
}
.list li.minus {
  border-color: red;
}
.delete-btn {
  background-color: red;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
form input, form button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.btn {
  background-color: #007bff;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
